@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.container,
main {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body {
  margin: 0;
  padding: 0;
}

@import "tailwindcss";

.h1 {
  @apply text-[40px] leading-[40px] tracking-[0px];
}
.h1-desktop {
  @apply text-[44px] leading-[52px] tracking-[0px];
}

.h2 {
  @apply text-[32px] leading-[36px] tracking-[0.5px];
}
.h2-desktop {
  @apply text-[36px] leading-[44px] tracking-[0.5px];
}
.title {
  @apply text-[32px] leading-[36px] tracking-[1.25px] font-semibold text-navy md:leading-[40px] md:text-[40px] md:tracking-[1px] mb-[8px];
}
.h3 {
  @apply text-[28px] md:text-[32px] md:font-semibold leading-[36px] tracking-[0.25px];
}
.h3-desktop {
  @apply text-[28px] leading-[32px] tracking-[0.25px];
}

.full-nav-btn:hover {
  background-color: #f5efeb;
  color: #2f4156;
  transition: all 0.1s ease-out;
}
.full-nav-btn2:hover {
  background-color: #2f4156;
  color: #f5efeb;
  transition: all 0.2s ease-out;
  transform: scale(0.9);
}
button {
  cursor: pointer;
}
.p {
  @apply text-[16px] md:text-[18px] leading-[24px] tracking-[0px];
}
.button {
  @apply text-[16px] cursor-pointer leading-[24px] tracking-[0.5px] py-[4px] px-[24px]  rounded-[10px] flex gap-[4px] items-center justify-center drop-shadow-md;
}
.btn-icon {
  @apply h-[15px];
}
.hero {
  background: rgb(61, 78, 98);
  background: -moz-radial-gradient(
    circle,
    rgba(61, 78, 98, 1) 0%,
    rgba(47, 65, 86, 1) 34%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(61, 78, 98, 1) 0%,
    rgba(47, 65, 86, 1) 34%
  );
  background: radial-gradient(
    circle,
    rgba(61, 78, 98, 1) 0%,
    rgba(47, 65, 86, 1) 34%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d4e62",endColorstr="#2f4156",GradientType=1);
  @apply relative min-h-[100vh] p-[32px]  min-w-[100vw]  shadow-2xl rounded-b-[20px] px-[32px];
}
.container {
  @apply relative min-h-[100vh] p-[32px] bg-beige min-w-[100vw]  shadow-2xl rounded-b-[20px] px-[32px];
}
.container:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.25;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

@keyframes float-shadow {
  0%,
  100% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

/* Utility classes for the animations */
.float-animation {
  animation: float 3s ease-in-out infinite;
}

.float-shadow {
  animation: float-shadow 3s ease-in-out infinite;
}

@keyframes fadeAnimation {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeAnimation 1s ease-in-out infinite;
}

@theme {
  /* Font families */
  /* --font-pier: var(--font-pier-sans), sans-serif; */
  --font-noto: var(--font-noto-sans), sans-serif;

  /* Color palette */
  --color-navy: #2f4156;
  --color-beige: #f5efeb;
  --color-orange: #e2a47e;
  --color-teal: #567c8d;
  --color-sky: #c8d9e6;
}
